<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfm.system.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.kfm.system.model.SysUserRole">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <id property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,role_id
    </sql>

    <select id="selectRoleByUserId" resultType="com.kfm.system.model.SysRole">
        select
            t1.id, t1.name, t1.role_code, t1.create_time, t1.update_time
        from
            sys_role t1
                inner join sys_user_role t2 on t1.id = t2.role_id
        where
            t2.user_id = #{userId};
    </select>
</mapper>
